@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap");
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  font-family: $primary-font;
  .copyrights-text {
    text-align: center;
  }
}
/* Global Styles */
.error {
  color: red;
}

p {
  line-height: 1.76rem;
  color: $main-title-color;
}

.darkBG {
  background: $dark-bg;
  color: white;
}

.nav-wrp {
  background-color: $main-color;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1;
  img {
    height: 60px;
    aspect-ratio: 8 / 6;
  }
}
.nav-wrp.hidden {
  top: -100px;
}
.hamburgerInner {
  display: none;
}
.navInner {
  display: flex;
  padding: 5px 1%;
}
.logo-wrp {
  flex: 0.5;
}
.link-wrp {
  flex: 0.5;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

:not #wrapper section {
  height: fit-content;
}

#our-mission {
  height: 50rem;
  h5 {
    color: $main-color;
  }
  img {
    max-height: 100%;
    aspect-ratio: 8 / 6;
  }
}

.col-section {
  max-width: 75rem;
  height: 100%;
  margin: auto;
}

.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .info,
  .image {
    width: 50%;
    margin: 0 50px;
    p {
      font-size: $main-text-size;
    }
  }
  h3 {
    color: $main-title-color;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
}

.three-col-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  h2 {
    text-align: center;
    color: $main-title-color;
    font-size: $main-title-size;
  }
}

.three-col-inner {
  display: flex;
  gap: 25px;
  .col {
    max-width: 33.3%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    color: $main-title-color;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

/* Our Mission */
#our-mission {
  text-align: center;
  p {
    font-family: $secondary-font;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 3rem;
  }
  .input-outer {
    max-height: fit-content;
    margin-bottom: 20px;
    padding: 7px, 20px;
  }
  .input-early {
    border: $main-color solid 3px;
    border-radius: 10px;
    height: 1.8rem;
    width: 70%;
  }
  ::placeholder {
    text-align: center;
    color: black;
    font-family: $primary-font;
  }
}

#contact-form {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 5px;
  }
}

.contactEarly {
  position: absolute;
  top: 75%;
  h5 {
    color: #f4ba65;
    font-size: $main-title-size;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 3px;
    padding: 10px;
  }
  button {
    min-height: 20px;
    background-color: $main-title-color;
    color: whitesmoke;
    font-size: 1rem;
    min-width: 120px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f4ba65;
    padding: 10px 0;
  }
}

#founders {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $main-title-color;
    font-size: $main-title-size;
    line-height: 1.875rem;
    text-align: center;
    padding: 30px;
    margin: 28px 0;
  }
  .cardholder-cont {
    display: flex;
    position: relative;
    width: 60%;
  }
  .cardholder-cont .left-arrow-cont:hover,
  .cardholder-cont .right-arrow-cont:hover {
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px 0px;
  }
  .left-arrow-cont,
  .right-arrow-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .left-arrow-cont {
    left: 120px;
  }
  .right-arrow-cont {
    right: 120px;
  }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .avatar {
    max-width: 275px;
    height: 275px;
    box-sizing: border-box;
    border: 5px $main-color solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 8px 0px;
    h4 {
      text-align: center;
      color: $main-title-color;
    }
  }
}
.ourGoals {
  display: flex;
  justify-content: center;
  align-content: center;
  video {
    margin: 3rem 0px;
  }
}
#comparisons {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding: 30px;
    margin: 30px 0;
    text-align: center;
    color: $main-title-color;
    line-height: 1.875rem;
    font-size: $main-title-size;
  }
  table {
    width: 90%;
    padding: 20px 0;
    margin: 8px 0;
    border: 1px solid $main-title-color;
  }
  tr th:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  th td {
    border: 1px solid $main-title-color;
    border: #dddddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .blu-logo {
    max-width: 10rem;
  }
  .competitors-logo {
    max-width: 7rem;
    object-fit: contain;
  }
  td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3rem;
  }
  .blu-comparison {
    width: 50%;
    padding: 20px;
    margin: 10px 0px;
    p {
      font-size: 1.3rem;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}
#contact {
  height: 40rem;
  .two-col {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      margin: 0 50px;
    }
  }
  h3,
  h4 {
    margin: 20px 0;
  }
  h3 {
    color: $main-title-color;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
  h4 {
    color: $main-title-color;
    font-size: $secondary-title-size;
  }

  .social-inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .link {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .contact-inner {
    input,
    textarea {
      background-color: transparent;
      color: black;
      font-size: 14px;
      padding-left: 5px;
    }
    :focus {
      outline: none;
    }
    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 0.25px;
      border-bottom-style: solid;
      border-bottom-color: $main-color;
      height: 30px;
    }
    textarea {
      border: 0.5px solid $main-color;
      resize: none;
      margin-top: 20px;
    }
    ::placeholder {
      color: black;
      font-family: $primary-font;
    }
    span {
      margin-top: 10px;
      font-size: 13px;
    }
    button {
      background: transparent;
      border: 1px solid $main-color;
      color: black;
      letter-spacing: 0.15rem;
      margin-top: 20px;
      text-transform: uppercase;
      width: 30%;
      height: 40px;
      &:hover {
        background: $main-title-color;
        border: 1px solid $main-title-color;
        cursor: pointer;
      }
    }
  }

  label {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  #wrapper section {
    height: fit-content;
  }
  #our-mission {
    margin-top: 80px;
  }
  #our-mission .image {
    width: 90%;
    margin: 50px;
    padding: 0px !important;
  }
  .blu-comparison {
    width: 95% !important;
  }
  .bm-burger-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 9px;
    top: 6px;
  }
  .hamburgerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bm-burger-button {
    width: 100%;
  }
  .navInner {
    display: none;
  }
  .link-wrp {
    flex-direction: column;
  }
  .three-col-inner {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
  }
  .three-col-inner .col {
    max-width: 95%;
    width: 100%;
  }
  #founders .image {
    display: none;
  }
  .cardholder-cont {
    width: 100% !important;
    position: relative;
  }
  .two-col .info .two-col .image {
    width: 100%;
    margin: 0 50px;
  }
  .two-col h3 {
    color: $main-title-color;
    font-size: 3.096rem;
    line-height: 0.8;
  }

  .contactEarly {
    position: relative;
  }
  .mobile-split {
    flex-direction: column;
  }
  .left-arrow-cont {
    position: absolute;
    left: 2px !important;
  }
  .right-arrow-cont {
    right: 2px !important;
  }
}
