@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap");
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  font-family: $primary-font;
}

.nav-wrp {
  background-color: indigo;
  position: fixed;
  width: 100%;
  top: 0;
}
.navInner {
  display: flex;
  padding: 5px 1%;
}
.logo-wrp {
  flex: 0.5;
}
.link-wrp {
  flex: 0.5;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  height: 100%;
  margin: auto;
}

#wrapper section {
  height: 50rem;
  margin-top: 68px;
}
.darkBG {
  background: $dark-bg;
  color: white;
}
.two-col {
  .info,
  .image {
    width: 50%;
    margin: 0 50px;
    p {
      font-size: $main-text;
    }
  }

  h3 {
    color: #7c73d9;
    font-size: $main-title;
    line-height: 1.875rem;
  }
}
.svgcol-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.svgcol-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  height: 100%;
}
.img-wrp {
  max-width: 300px;
  object-fit: cover;
  aspect-ratio: 4.5/6;
}
.img-wrp img {
  width: 100%;
  height: 100%;
}
.svgcol-wrp h2 {
  text-align: center;
  color: #7c73d9;
  font-size: $main-title;
  line-height: 1.875rem;
  margin-top: 4rem;
}
.svgcol-cont {
  display: flex;
  justify-content: space-around;
  height: 100%;
  gap: 12px;
}

.svgcol-cont p {
  text-wrap: wrap;
  padding: 0 18px;
}
