@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap");
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  font-family: $primary-font;
}
/* Global Styles */

.error{
  color: red;
}

p{
  line-height: 1.75rem;
}
.darkBG {
  background: $dark-bg;
  color: white;
}

.nav-wrp {
  background-color: indigo;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-wrp.hidden {
  top: -100px;
}
.navInner {
  display: flex;
  padding: 5px 1%;
}
.logo-wrp {
  flex: 0.5;
}
.link-wrp {
  flex: 0.5;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

#wrapper section {
  height: 50rem;
  margin-top: 68px;
}

.col-section {
  max-width: 75rem;
  height: 100%;
  margin: auto;
}

.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .info,
  .image {
    width: 50%;
    margin: 0 50px;
    p {
      font-size: $main-text-size;
    }
  }
  h3 {
    color: #7c73d9;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
}

.three-col-wrapper {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    color: $main-title-color;
    font-size: $main-title-size;
  }
}

.three-col-inner {
  display: flex;
  gap: 25px;
  .col {
    max-width: 33.3%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    color: $main-title-color;
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

/* Our Mission */
#our-mission {
  text-align: center;
  p {
    font-family: $secondary-font;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 3rem;
  }
}

#contact-form{
  div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  label{
    margin-bottom: 5px;
  }
}

  .contactEarly {
    position: absolute;
    top: 75%;
    h5 {
      color: #f4ba65;
      font-size: $main-title-size;
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 3rem;
      margin: 3px;
      padding: 10px;
    }
    button {
      min-height: 20px;
      background-color: #7c73d9;
      color: whitesmoke;
      font-size: 1rem;
      min-width: 120px;
      border-radius: 10px;
      border-width: 1px;
      border-color: #f4ba65;
      padding: 10px 0;
    }
  }
}

#wrapper section {
  .sectionTitle {
    color: #7c73d9;
    font-size: $main-title-size;
    line-height: 1.875rem;
    text-align: center;
    padding: 30px;
    margin: 20px 0;
  }
  .col-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
