@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap');
@import './variables.scss';

html,
body{
margin: 0;
padding: 0;
}

#root{
  font-family: $primary-font;
}

#wrapper section{
  height: 52.8125rem;
  &:nth-child(odd){
    background: $dark-bg;
    color: white;
  }
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  height: 100%;
  margin: auto;
  .info, .image{
    width: 50%;
    margin: 0 50px;
    p{
      font-size: $main-text
    }
  }

h3{
    color: #7C73D9;
    font-size: $main-title;
    line-height: 1.875rem;
  }
  
}