@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap");
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  font-family: $primary-font;
}
/* Global Styles */

p {
  line-height: 1.75rem;
}
.darkBG {
  background: $dark-bg;
  color: white;
}

.nav-wrp {
  background-color: indigo;
  position: fixed;
  width: 100%;
  top: 0;
}
.navInner {
  display: flex;
  padding: 5px 1%;
}
.logo-wrp {
  flex: 0.5;
}
.link-wrp {
  flex: 0.5;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

#wrapper section {
  height: 50rem;
  margin-top: 68px;
}

.col-section {
  max-width: 75rem;
  height: 100%;
  margin: auto;
}

.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  .info,
  .image {
    width: 50%;
    margin: 0 50px;
    p {
      font-size: $main-text-size;
    }
  }
  h3 {
    color: #7c73d9;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
}

.three-col-wrapper {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    color: $main-title-color;
    font-size: $main-title-size;
  }
}

.three-col-inner {
  display: flex;
  gap: 25px;
  .col {
    max-width: 33.3%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    color: $main-title-color;
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

// .img-wrp {
//   width: 350px;
//   height: 350px;
//   overflow: hidden;
//   object-fit: cover;
// }
// .img-wrp img {
//   width: 100%;
//   height: 100%;
// }
// .svgcol-wrp h2 {
//   text-align: center;
//   color: #7c73d9;
//   font-size: $main-title-size;
//   line-height: 1.875rem;
//   margin-top: 4rem;
// }
// .svgcol-cont {
//   display: flex;
//   justify-content: space-around;
//   height: 100%;
//   gap: 12px;
// }

// .svgcol-cont p {
//   text-wrap: wrap;
//   padding: 0 18px;
// }

/* Our Mission */
#our-mission {
  text-align: center;
  p {
    font-family: $secondary-font;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 3rem;
  }
}

#wrapper section {
  .sectionTitle {
    color: #7c73d9;
    font-size: $main-title-size;
    line-height: 1.875rem;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
  }
  .col-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
