@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Lato:wght@300;400;700;900&display=swap");
@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  font-family: $primary-font;
}
/* Global Styles */
.error {
  color: red;
}

p {
  line-height: 1.75rem;
}

.darkBG {
  background: $dark-bg;
  color: white;
}

.nav-wrp {
  background-color: indigo;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1;
}
.nav-wrp.hidden {
  top: -100px;
}
.navInner {
  display: flex;
  padding: 5px 1%;
}
.logo-wrp {
  flex: 0.5;
}
.link-wrp {
  flex: 0.5;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

#wrapper section {
  height: 50rem;
}

.col-section {
  max-width: 75rem;
  height: 100%;
  margin: auto;
}

.two-col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .info,
  .image {
    width: 50%;
    margin: 0 50px;
    p {
      font-size: $main-text-size;
    }
  }
  h3 {
    color: $main-title-color;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
}

.three-col-wrapper {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    color: $main-title-color;
    font-size: $main-title-size;
  }
}

.three-col-inner {
  display: flex;
  gap: 25px;
  .col {
    max-width: 33.3%;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 275px;
    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    color: $main-title-color;
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

/* Our Mission */
#our-mission {
  text-align: center;
  p {
    font-family: $secondary-font;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 3rem;
  }
}

#contact-form {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 5px;
  }
}

.contactEarly {
  position: absolute;
  top: 75%;
  h5 {
    color: #f4ba65;
    font-size: $main-title-size;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 3px;
    padding: 10px;
  }
  button {
    min-height: 20px;
    background-color: $main-title-color;
    color: whitesmoke;
    font-size: 1rem;
    min-width: 120px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f4ba65;
    padding: 10px 0;
  }
}

#wrapper section {
  .sectionTitle {
    color: #7c73d9;
    font-size: $main-title-size;
    line-height: 1.875rem;
    text-align: center;
    padding: 30px;
    margin: 20px 0;
  }
  .col-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
#ourGoals .ourGoals-wrp {
  display: flex;
  justify-content: center;
  video {
  }
}
#contact {
  .two-col {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      margin: 0 50px;
    }
  }
  h3,
  h4 {
    margin: 20px 0;
  }
  h3 {
    color: $main-title-color;
    font-size: $main-title-size;
    line-height: 1.875rem;
  }
  h4 {
    color: $main-title-color;
    font-size: $secondary-title-size;
  }

  .social-inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .contact-inner {
    input,
    textarea {
      background-color: transparent;
      color: white;
      font-size: 14px;
      padding-left: 5px;
    }
    :focus {
      outline: none;
    }
    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 0.25px;
      border-bottom-style: solid;
      border-bottom-color: white;
      height: 30px;
    }
    textarea {
      border: 0.5px solid white;
      resize: none;
      margin-top: 20px;
    }
    ::placeholder {
      color: white;
      font-family: $primary-font;
    }
    span {
      margin-top: 10px;
      font-size: 13px;
    }
    button {
      background: transparent;
      border: 1px solid white;
      color: white;
      letter-spacing: 0.15rem;
      margin-top: 20px;
      text-transform: uppercase;
      width: 30%;
      height: 40px;
      &:hover {
        background: $main-title-color;
        border: 1px solid $main-title-color;
        cursor: pointer;
      }
    }
  }

  label {
    margin-bottom: 5px;
  }
}
