tml {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.nav-wrp{
  display: flex;
  width: 100%;
  background-color: indigo;
  padding: 0 20px;
}
.logo-wrp{
flex: 1;

}
.link-wrp{
  align-self: center;
}
a {
  margin: 0 10px;
  text-decoration: none;
  color: whitesmoke;
}
section{
height: 600px !important;
}
#our-mission{
background-color: red;
}
#contact{
  background-color: green;
}
#dilemma{
  background-color: blue;
}
#solution{
  background-color: orange;
}
