/* Colors */
$dark-bg: linear-gradient(
  90deg,
  rgba(252, 248, 191, 0.8744091386554622) 20%,
  rgba(199, 157, 101, 0.9892550770308123) 74%,
  rgba(179, 109, 26, 0.9808517156862745) 93%
);
$light-bg: #7600a9;
$main-title-color: #181e44;
$main-color: #181e44;
$secondary-text-color: #dfab50;
$secondary-color: rgb(179, 109, 26);
/* Fonts */
$primary-font: "Lato", sans-serif;
$secondary-font: "Bad Script", sans-serif;

/* Font Sizes */
$main-title-size: 3.096rem;
$main-text-size: 1.1765rem;
$secondary-title-size: 2.075rem;
