
/* Colors */
$dark-bg: #0f0015;
$light-bg:#7600a9;


/* Fonts */
$primary-font:  "Lato", sans-serif;;
$secondary-font: "Bad Script", sans-serif;

/* Font Sizes */

$main-title: 3.096rem; 
$main-text: 1.1765rem;