/* Colors */
$dark-bg: #0f0015;
$light-bg: #7600a9;
$main-title-color: #7c73d9;

/* Fonts */
$primary-font: "Lato", sans-serif;
$secondary-font: "Bad Script", sans-serif;

/* Font Sizes */
$main-title-size: 3.096rem;
$main-text-size: 1.1765rem;
